.detail-card {
  background-color: #F7F7F7;
  color: #28104E;
  border-radius: .8rem;
}

.detail-card__title {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  background-color: #2D2D44;
  color: #DEACF5;
  border-radius: .8rem .8rem 0 0;
}

.detail-card__title .article-mod-date {
  font-size: 1.2rem;
}

.detail-card__body, .detail-card__title, .detail-card__cta {
  padding: 1rem 2rem;
}

.detail-card__cta {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  align-items: baseline;
}

.detail-card__cta a {
  color: #28104E;
}

.detail-card__cta a:hover {
  color: #5321a3;
}

.detail-card__cta p {
  font-size: 1.2rem;
}
