{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
{% static 'accounts/css/register.css' %}
{% endblock stylesheet %}

{% block title %}
Sign up
{% endblock title %}

{% block content %}
<div class="main-container">
    <div class="register-form-container" role="form">
        <h1 class="heading--center">Register</h1>
        <form action="" method="POST">
        {% csrf_token %}
            {% for field in form %}
                <p class="form__input">
                    {{ field.label }}
                    {{ field }}
                </p>
            {% endfor %}
            <button class="form__input--submit">Sign up</button>
        </form>
    </div>
</div>
{% endblock content %}