{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
{% static 'blog/css/user_profile.css' %}
{% endblock stylesheet %}

{% block title %}
{{ request.user }}'s Profile Page
{% endblock title %}

{% block content %}

<div class="main-container">

    <div class="user-form-container" role="form">
        <h1 class="heading--center">Manage your profile</h1>
        <form action="" method="POST">
        {% csrf_token %}
            {% for field in form %}
                <p class="form__input">
                    {{ field.label }}
                    {{ field }}
                </p>
            {% endfor %}
            <button class="form__input--submit">Update settings</button>
        </form>
        <p class="extra-links">To change your password, <a href="#">click here</a>.</p>
        <p class="extra-links">To manage your articles, <a href="{% url 'blog:user_articles' request.user.id %}">click here</a>.</p>
    </div>

</div>

{% endblock content %}