$primary-color: #553555;
$secondary-color: #2D2D44;
$card-color: #F7F7F7;

$light-text-color: #DEACF5;
$dark-text-color: #28104E;

$heading-font : 'Cormorant Garamond', serif;
$content-font: 'Noto Sans KR', sans-serif;
