$primary-color: #553555;
$secondary-color: #2D2D44;
$card-color: #F7F7F7;

$light-text-color: #DEACF5;
$dark-text-color: #28104E;

$info-color: #17A8C5;
$success-color: #28A745;
$warning-color: #FFCA07;
$error-color: #DC3545;

$heading-font : 'Cormorant Garamond', serif;
$content-font: 'Noto Sans KR', sans-serif;
