@import '../../../../static/main/scss/utility';

.detail-card {
    @include background-text($card-color);
    border-radius: .8rem;

    @at-root #{&}__title {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
                align-items: center;
        @extend .detail-card__body;
        @include background-text($secondary-color);
        border-radius: .8rem .8rem 0 0;

        .article-mod-date {
            font-size: 1.2rem;
        }
    }

    @at-root #{&}__body {
        padding: 1rem 2rem;
    }

    @at-root #{&}__cta {
        @extend .detail-card__body;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
        -webkit-box-align: baseline;
                align-items: baseline;

        a {
            color: change-color($card-color);
            
            &:hover {
                color: lighten(change-color($card-color), 20);
            }
        }
        p {
            font-size: 1.2rem;
        }
    }
}
