@import './../../../../static/main/scss/utility';

.heading--center {
    font-family: $heading-font;
    padding-bottom: 1rem;
    text-align: center;
}

.user-form-container,
.password-form-container {
    width: 80%;
    padding: 2rem;
    margin: auto;
    border-radius: .8rem;
    @include background-text($card-color);
}

.form__input {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    margin-bottom: .8rem;

    input {
        padding: .5rem;
    }
}

.form__input--submit {
    display: block;
    width: 100%;
    margin: 2.5rem auto 0 auto;
    padding: .8rem;
    border: none;
    border-radius: .8rem;
    @include background-text($secondary-color);
    cursor: pointer;

    &:hover {
        @include background-text($primary-color);
    }
}

.extra-links {
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: right;

    a {
        color: change-color($card-color);
    }
}