<div class="header-container" role="navigation">
    <nav>
        <div class="nav__brand">
            <h3><a href="{% url 'blog:articles' %}">Personal Blog</a></h3>
        </div>
        {% if request.user.is_authenticated %}
            <div class="nav__dashboard">
                <a href="{% url 'blog:create_article' %}">New article</a>
                <a href="{% url 'blog:user_profile' %}">Your profile</a>
                <a href="{% url 'accounts:logout' %}">Logout</a>
            </div>
        {% else %}
            <div class="nav__dashboard">
                <a href="{% url 'accounts:register' %}">Register</a>
                <a href="{% url 'accounts:login' %}">Login</a>
            </div>
        {% endif %}
    </nav>
</div>